.clip{
  position:absolute;
  clip:rect(0,0,0,0)
}
.bg-green{
  background: #39825A!important;
}
.bg-orange{
  background: #DC3C00!important;
}
.bg-red{
  background: #AE4D50!important;
}
.bg-blue{
  background: #0078D7!important;
}